{:highlights [{:id #uuid "698e9399-4680-4d83-b951-dfab9cc8ee98",
               :page 1,
               :position {:bounding {:x1 222,
                                     :y1 570.6666564941406,
                                     :x2 322,
                                     :y2 582.6666564941406,
                                     :width 1428.768024,
                                     :height 2020.608096},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1770951576614},
               :properties {:color "yellow"}}
              {:id #uuid "698e9419-6e9f-42bf-8e09-580d99a32d96",
               :page 1,
               :position {:bounding {:x1 373,
                                     :y1 829,
                                     :x2 575,
                                     :y2 846,
                                     :width 1270.0160213333334,
                                     :height 1796.0960853333333},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1770951705158},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
